.adjusts {
    margin: auto;
}

.buy-btn {
    margin: auto;
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
}

.cart-card {
    height: 50%;
    gap: 8px;
    margin-right: 60px;
}

.cart-img {
    height: 250px;
}

@media (min-width:350px) and (max-width:1024px) {
    .adjusts {
        margin-left: 40px;
    }
}

.qty {
    margin-left: 65px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px 15px;
    color: brown;
    background-color: antiquewhite;
}