.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contact-card {
    width: 800px;
    height: 600px;
    background-color: #ffffff;
    padding: 30px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    animation: weird, 1s, infinite;
}

@keyframes weird {
    0% {
        color: indigo;
    }
    50% {
        color: indianred;
    }
    100% {
        color: black;
    }
}

.contact-card h2 {
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-icon {
    font-size: 24px;
    color: #007bff;
}

.developer-info {
    margin-top: 20px;
}

.contact-btn {
    background-color: #4b4543;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #0056b3;
}