/* Slideshow.css */

.slideshow-container {
    /* max-width: 100%; */
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.slide {
    display: none;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    display: block;
    opacity: 1;
}

@media (max-width:1023px) {
    .slideshow-container {
        display: none;
    }
    .slide {
        display: none;
    }
    .slide.active {
        display: block;
    }
    .imgs {
        display: none;
    }
}